.d3node {
    stroke: silver;
    stroke-width: 1.5px;
    cursor: pointer;
}

.d3group {
    stroke: silver;
    stroke-width: 1.5px;
    cursor: pointer;
    fill: red;
    padding: 10rem;
    opacity: 1;
}

.d3link {
    stroke: silver;
    stroke-width: 1px;
}

.d3label {
    fill: white;
    color: white;
    font-family: Verdana;
    font-size: 7px;
    font-weight: bold;
    text-anchor: middle;
    cursor: pointer;
    pointer-events: none;
    stroke: none;
    stroke-width: 0;
}

.d3labelHeader {
    fill: #006;
    font-family: Verdana;
    font-size: 6px;
    text-anchor: middle;
    cursor: pointer;
    pointer-events: none;
    fill: gray;
    stroke: none;
    stroke-width: 0;
}

.d3labelFooter {
    fill: #006;
    font-family: Verdana;
    font-size: 6px;   
    text-anchor: middle;
    cursor: pointer;
    pointer-events: none;
    fill: gray;
    stroke: none;
    stroke-width: 0;
}

.d3labelBold {
    fill: #006;
    font-family: Verdana;
    font-size: 7px;
    font-weight: bold;
    text-anchor: middle;
    cursor: pointer;
    pointer-events: none;
}

.d3awesome {
    fill: #006;
    color: white;
    background-color: transparent;
    font-size: 8px;
    font-weight: bold;
}