@page "/"

@namespace Demo.Pages

<h1>TeraWord MapD3 @(typeof(D3Map).Assembly.GetName().Version.ToString(3))</h1>

<div style="border:1px solid silver;height:600px;">
    <D3Map @ref=MapD3
           ID="MapID00001"
           ZoomEnabled=true
           ShowControls=true
           LinkDistance=LinkDistance
           LinkLengths=LinkLengths
           OnNodeClick=OnNodeClick />
</div>

<br />

<button class="btn btn-primary" @onclick=OnClearClick>clear</button>
<button class="btn btn-primary" @onclick=OnTreeClick>tree</button>
<button class="btn btn-primary" @onclick=OnRootClick>root</button>
<button class="btn btn-primary" @onclick=OnParentClick>parent</button>
<button class="btn btn-primary" @onclick=OnChildClick>child</button>
<button class="btn btn-primary" @onclick=OnLonelyClick>lonely</button>
<button class="btn btn-primary" @onclick=OnLinkClick>link</button>
<button class="btn btn-primary" @onclick=OnRemoveClick>remove</button>
<button class="btn btn-primary" @onclick=OnZoomToFitClick>zoom to fit</button>
<button class="btn btn-primary" @onclick=OnGroupClick>group</button>
<button class="btn btn-primary" @onclick=OnInsideClick>inside</button>
<br />
<br />
link distance
<input type="range" class="form-range" @onchange=@OnLinkDistanceChange />
link lengths
<input type="range" class="form-range" @onchange=@OnLinkLengthsChange />
<br />
<br />

<label>node json:</label>
<br />
<code>@NodeJson</code>